@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    margin:0;
    background-image: url("../media/bg-overlay.png"), url("../media/Monosnap\ 508-5081850_emoji-background-pink-heart-hd-png-download.png\ \(860×900\)\ 2024-03-28\ 22-25-19.png");
    background-position: center;
    background-size: 20%;
} 

main{
    height: 200vh;
}